<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender Homepage</title>
</head>
<body>
    <h1> {{ title }} </h1>
    <p>Here you will find the most <b>incredible</b> movie recommendations in the world</p>
    <form action = "/recs">
        <p>Please rate the following movies on a scale of 0 to 5:</p>
        Rambo:
        <input type = "text" name = "Rambo" placeholder = "0 - 5"><br>
        Dumbo:
        <input type = "text" name = "Dumbo" placeholder = "0 - 5"><br>
        Cars:
        <input type = "text" name = "Cars" placeholder = "0 - 5"><br>
        <input type = "submit">
    </form>
</body>
</html>